{
  "extends": [
    "standard",
    "plugin:cypress/recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react",
    "prettier/standard"
  ],
  "plugins": ["cypress", "react", "standard", "prettier", "jsx-a11y"],
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": "error",
    "import/order": [
      "error",
      {
        "newlines-between": "always"
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}