name: release

on:
  workflow_dispatch:
  pull_request:
    branches:
      - release/*
  push:
    tags:
      - v*

jobs:
  export:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-node@v2.1.5
        with:
          node-version: 14.x
      - id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v2.1.5
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - uses: actions/cache@v2.1.5
        with:
          path: ~/.turtle
          key: ${{ runner.os }}-turtle
          restore-keys: |
            ${{ runner.os }}-turtle
      - uses: actions/setup-java@v1.4.3
        with:
          java-version: '8'
      - uses: expo/expo-github-action@5.4.0
        with:
          expo-cache: true
          expo-token: ${{ secrets.EXPO_TOKEN }}
      - run: yarn
      - run: expo doctor
      - run: expo diagnostics
      - run: expo export --clear --force --dev --public-url http://localhost:5000 --output-dir dist
      - uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist/

  android:
    needs: export
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-node@v2.1.5
        with:
          node-version: 14.x
      - uses: actions/setup-java@v1.4.3
        with:
          java-version: '8'
      - run: yarn
      - uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist
      - uses: expo/expo-github-action@5.4.0
        with:
          expo-cache: true
          expo-token: ${{ secrets.EXPO_TOKEN }}
      - run: npx serve dist &
      - run: |
          echo "$EXPO_ANDROID_KEYSTORE_BASE64" > keystore.jks.base64
          base64 --decode keystore.jks.base64 > keystore.jks
          yarn build:local:android -- --type=apk --output=build/polaris.apk --public-url=http://localhost:5000/android-index.json --allow-non-https-public-url --keystore-path=./keystore.jks --keystore-alias=$EXPO_ANDROID_KEYSTORE_ALIAS
        env:
          EXPO_ANDROID_KEYSTORE_BASE64: ${{ secrets.EXPO_ANDROID_KEYSTORE_BASE64 }}
          EXPO_ANDROID_KEYSTORE_ALIAS: ${{ secrets.EXPO_ANDROID_KEYSTORE_ALIAS }}
          EXPO_ANDROID_KEYSTORE_PASSWORD: ${{ secrets.EXPO_ANDROID_KEYSTORE_PASSWORD }}
          EXPO_ANDROID_KEY_PASSWORD: ${{ secrets.EXPO_ANDROID_KEY_PASSWORD }}
      - run: |
          echo "$PLAY_STORE_SERVICE_ACCOUNT_KEY_JSON" > play-store-account-key.json
          expo upload:android --key ./play-store-account-key.json --path ./build/polaris.apk --type apk --release-status draft
        env:
          PLAY_STORE_SERVICE_ACCOUNT_KEY_JSON: ${{ secrets.PLAY_STORE_SERVICE_ACCOUNT_KEY_JSON }}

      - uses: actions/upload-artifact@v2
        with:
          name: build
          path: build/

  ios:
    needs: export
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-node@v2.1.5
        with:
          node-version: 14.x
      - uses: actions/setup-java@v1.4.3
        with:
          java-version: '8'
      - run: yarn
      - uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist
      - run: npx serve dist &
      - run: |
          echo "$EXPO_IOS_DISTRIBUTION_CERTIFICATE_BASE64" > cert.p12.base64
          echo "$EXPO_IOS_PROVISIONING_PROFILE_BASE64" > profile.mobileprovision.base64
          base64 --decode cert.p12.base64 > cert.p12
          base64 --decode profile.mobileprovision.base64 > profile.mobileprovision
          yarn build:local:ios -- --type=archive --output=build/polaris.ipa --allow-non-https-public-url --public-url=http://localhost:5000/ios-index.json --team-id=$EXPO_IOS_TEAM_ID --dist-p12-path=cert.p12 --provisioning-profile-path=profile.mobileprovision
        env:
          EXPO_IOS_DISTRIBUTION_CERTIFICATE_BASE64: ${{ secrets.EXPO_IOS_DISTRIBUTION_CERTIFICATE_BASE64 }}
          EXPO_IOS_PROVISIONING_PROFILE_BASE64: ${{ secrets.EXPO_IOS_PROVISIONING_PROFILE_BASE64 }}
          EXPO_IOS_TEAM_ID: ${{ secrets.EXPO_IOS_TEAM_ID }}
          EXPO_IOS_DIST_P12_PASSWORD: ${{ secrets.EXPO_IOS_DIST_P12_PASSWORD }}
      - run: fastlane ios_release
        env:
          APP_STORE_CONNECT_API_KEY_KEY_ID: ${{ secrets.IOS_API_KEY_KEY_ID }}
          APP_STORE_CONNECT_API_KEY_ISSUER_ID: ${{ secrets.IOS_API_KEY_ISSUER_ID }}
          APP_STORE_CONNECT_API_KEY_KEY: ${{ secrets.IOS_API_KEY_KEY_CONTENT_BASE64 }}
      - uses: actions/upload-artifact@v2
        with:
          name: build
          path: build/
